<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.vitec.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="fr.vitec.main.Perspective"
            id="fr.vitec.main.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="fr.vitec.main.categoryMain"
            name="%category.name">
      </category>
      <view
            category="fr.vitec.main.categoryMain"
            class="fr.vitec.main.ViewPartDetails"
            id="fr.vitec.main.viewDetails"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="fr.vitec.main.categoryMain"
            class="fr.vitec.main.ViewPartMaster"
            id="fr.vitec.main.viewMaster"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.label">
            <command
                  commandId="fr.vitec.main.commandOpen"
                  label="%command.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.label.0">
            </command>
         </menu>
         <menu
               label="%menu.label.0">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="%command.label.1"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.vitec.main.application"
            name="%product.name">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.vitec.main.handler.OpenHandler"
            id="fr.vitec.main.commandOpen"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="fr.vitec.main.activity.view"
            name="activate">
      </activity>
      <activityPatternBinding
            activityId="fr.vitec.main.activity.view"
            isEqualityPattern="false"
            pattern="fr.vitec.main/fr.vitec.main.viewMaster">
      </activityPatternBinding>
      <activity
            id="fr.vitec.main.activity.view2"
            name="activate2">
      </activity>
      <activityPatternBinding
            activityId="fr.vitec.main.activity.view2"
            pattern="fr.vitec.main/fr.vitec.main.viewDetails">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="fr.vitec.main.elementfactory.BaseFactory"
            id="fr.vitec.main.factory.base">
      </factory>
   </extension>

</plugin>
